<!-- <p>Created by</p> -->
<!-- <p>Claire DeChambeau McKinsey</p>
<p><a href="">Kodehustlr.com</a></p> -->
<!-- <p>Chanya le Papillon at <a href="">Kodehustlr.com</a></p> -->

<!-- <h1>Hey Claire, it's a <%= dayType %> today!</h1>
<% if (dayType === "Saturday" || dayType === "Sunday") { %>
  <h2 style="color: Crimson"><%= dayType %>'s To Do List</h2>
<% } else { %>
  <h2 style="color: CornflowerBlue"><%= dayType %>'s To Do List</h2>
<% } %> -->
